html {
  background: url(bg.jpg) no-repeat;
}

body{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  overflow-y: scroll;
  
}
.box{
  width: 450px;
  min-width: 200px;
  aspect-ratio: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  padding-bottom: 0!important;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 100;
  text-decoration: underline;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
.switch {
    position:absolute;
    display: inline-block;
    width: 60px;
    height:34px;
    left: 5%;
    top:3%;
}
.switch input {
    opacity:0;
    width:0;
    height:0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: #ccc;
    -webkit-transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width:26px ;
    left:4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
}
input:checked + .slider {
    background-color: Tomato;
}
input:focus + .slider{
    box-shadow: 0 0 20px #2b78c2;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
#clickme {
    color: #d9ddde;
    position:absolute;
    display: inline-block;
    width: 60px;
    height:34px;
    left: 5%;
    top:3%;
    text-indent: 12em;
    font-size: 18px; 
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
#center {
font-family: 'PT Sans Narrow', sans-serif;
}
#button-text {
font-family: 'Open Sans Condensed', sans-serif;
}
#block {
  margin-left: 3px;
  margin-right:3px;
}
p3 {
  text-decoration: underline;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
